/**
 * All code (c) 2013-2014 - Copyright www.chromoselector.com - All Rights Reserved.
 */
.ui-cs-chromoselector {
    z-index: 99999;
    background: #e4ccc1;
    background: rgba(228, 204, 193, 0.8);
    border: 1px solid #521;
    border-color: rgba(82, 37, 18, 0.5);
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ui-cs-chromoselector .ui-cs-supercontainer {
    position: relative;
}
.ui-cs-chromoselector .ui-cs-container {
    float: left;
}
.ui-cs-chromoselector .ui-cs-preview-container {
    margin: 0;
    padding: 10px 10px 0;
}
.ui-cs-chromoselector .ui-cs-preview-widget {
    margin: 0;
    height: 25px;
    width: 100%;
}
.ui-cs-chromoselector .ui-cs-widget {
}
.ui-cs-chromoselector .ui-cs-resizer {
    cursor: se-resize;
}
.ui-cs-icon {
    z-index: 4000;
    padding: 0 0.1em;
    outline: none;
}
.ui-cs-chromoselector .ui-cs-panel {
    float: left;
    text-align: center;
}
.ui-cs-chromoselector .ui-cs-panel select {
    border: 1px solid #521;
    border-color: rgba(82, 37, 18, 0.5);
    margin-top: 10px;
}
.ui-cs-chromoselector .ui-cs-panel .ui-panel-labels {
    width: 100%;
    font-size: 12px;
    font-family: sans, sans-serif, verdana, arial;
    overflow: hidden;
    cursor: default;
}
.ui-cs-chromoselector .ui-cs-panel .ui-panel-labels div {
    float: left;
    color: #521;
    padding-bottom: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ui-cs-chromoselector.ui-cs-static {
    position: relative;
    background: none;
    border: none;
}
